
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>

<form method="post">
    <label>Name</label>
    <input type="type" name="Name" value="" />

    <br />

    <label>Description</label>
    <input type="type" name="Description" value="" />

    <br />

    <button type="submit">Save</button>
</form>


